body{
    margin:0;
    background:#222;
    color:white;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* タイトル画面 */
#titleScreen{
    text-align:center;
}

#titleScreen h1{
    margin-bottom:20px;
}

#startBtn{
    font-size:20px;
    padding:10px 30px;
    cursor:pointer;
}

/* ゲーム画面 */
#gameScreen{
    display:none;
    text-align:center;
}

canvas{
    border:3px solid white;
    image-rendering: pixelated;
}
#messageBox{
    display:none;

    position:absolute;
    height:140px;

    inset:0;

    width:100%;

    background:black;
    border:3px solid white;

    box-sizing:border-box;
    padding:12px;

    z-index:100;
    color:white;

    text-align:left;
}

#messageText{
    font-size:20px;
    line-height:1.5;
}
#gameScreen{
    position:relative;
}

#controls{
    margin-top:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

#dpad{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.dpad-row{
    display:flex;
    gap:10px;
    margin:3px;
}

#dpad button{
    width:70px;
    height:50px;
    font-size:20px;

    background:#ddd;
    border:2px solid #888;
    border-radius:8px;
}

#actionButtons button{
    width:120px;
    height:60px;

    font-size:24px;
    font-weight:bold;

    border:none;
    border-radius:12px;

    color:white;
}

#searchBtn{
    background:#3a9c5a;
}

#menuBtn{
    background:#3b6ed8;
}
