body{
    margin:0;
    background:#222;
    color:white;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* タイトル画面 */
#titleScreen{
    text-align:center;
}

#titleScreen h1{
    margin-bottom:20px;
}

#startBtn{
    font-size:20px;
    padding:10px 30px;
    cursor:pointer;
}

/* ゲーム画面 */
#gameScreen{
    display:none;
    text-align:center;
}

canvas{
    border:3px solid white;
    image-rendering: pixelated;
}
#controls{
    margin-top:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

#dpad{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.dpad-row{
    display:flex;
    gap:10px;
    margin:3px;
}

#controls button{
    width:70px;
    height:50px;
    font-size:20px;
    cursor:pointer;
}

#actionButtons{
    display:flex;
    gap:10px;
}
