#battleScreen{
    display:none;
    flex-direction:column;

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:black;
    color:white;

    z-index:300;
}
#battleStatus{

    height:100px;

    border:3px solid white;

    box-sizing:border-box;

    padding:10px;

    display:flex;
    gap:20px;
}
#enemyArea{
    flex:1;

    display:flex;

    justify-content:center;
    align-items:center;

    gap:20px;
}
.enemySlot{

    display:flex;
    flex-direction:column;

    align-items:center;

    width:90px;

}
.enemyImage{

    width:64px;
    height:64px;

    image-rendering:pixelated;

}
.enemyName{

    margin-top:8px;

    font-size:12px;

    text-align:center;

}
.enemySlot.selected{

    transform:translateY(-6px);

}
.enemySlot.defeated{

    display:none;

}

#battleBottom{
    height:140px;
    border-top:3px solid white;

    display:flex;
    position:relative;
}

/* 共通レイヤー */
#battleLog,
#battleCommand{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* 初期状態 */
#battleCommand{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

#battleLog{
    display:block;
    padding:12px;
    box-sizing:border-box;

    white-space:pre-line;
    overflow:hidden;
}
.battleButton{

    background:black;
    color:white;

    border:2px solid white;

    font-size:18px;

    padding:8px 16px;

    cursor:pointer;
}
